.content-block {
  margin-top: 20px;
}

.navbtn{
  padding: 15px;
  padding-left: 20px;
}

.calendar-cell {
  display: block; padding: 0; margin: 0; border: 0; width: 100%;
}

.calendar-padding {
  margin-top: 40px;
}

.imputation-negative {
  background-color: rgb(245, 199, 185);
}

.imputation-completed {
  background-color: rgb(164, 222, 154);
}

.imputation-positive {
  background-color: rgb(231, 225, 147);
}

.imputation-future {
  background-color: rgb(181, 181, 181);
}

.calendar-column-medium {
  width: 15%;
  padding: 2px;
}

.calendar-column-small {
  width: 5%;
  padding: 2px;
}

.calendar-column-imputation {
  width: 2%;
}

.calendar-table > thead > tr > th,
 .calendar-table > tbody > tr > th,
  .calendar-table > tfoot > tr > th,
   .calendar-table > thead > tr > td,
    .calendar-table > tbody > tr > td,
     .calendar-table > tfoot > tr > td {
       padding: 4px;
       text-align: center;
       border-style: inset;
       border-width: 1px;
       border-color: rgb(220, 220, 220);
     }

input .inputation-text{
text-align: center !important;
}
