<template name="displayMonth">
  <div class="panel panel-default content-block">
    <div class="panel-heading">CRAM HENIX</div>
    <div class="panel-body">
      <table class="calendar-table">
        <thead>
            <tr>
              <th class="calendar-column-small">Trigramme</th>
              <th class="calendar-column-small">Imputation</th>
              <th class="calendar-column-medium">Projet</th>
              <th class="calendar-column-small">UO</th>
              {{#each days}}
                {{> dayHeader}}
              {{/each}}
            </tr>
        </thead>
        <tbody>
          {{#each userImputations}}
            {{> projectRow}}
          {{/each}}
          {{>addLine}}
        </tbody>
      </table>
    </div>
  </div>
</template>
